<!DOCTYPE html>
<html>
    <head>
      <title>Full Friends App</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <p>The friend {{ friend_id }} you are looking for: {{ one_friend }} </p>
      <br>
      <p>To see all friends here: {{ all_friends }}</p>
      <br>
      <h1>Full Friends</h1>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
          {% for friend in all_friends: %}
        <tr>
            <td>{{ friend['first_name'] }}</td>
            <td>{{ friend['last_name'] }}</td>
            <td>{{ friend['email'] }}</td>
            <td>
              <div class="actionbutton">
                <form action="/friends/{{id}}/edit" method="get">
                  <button type="submit" name="button">Edit</button>
                </form>
                <form action="'/friends/{{id}}/delete" method="post">
                    <button type="submit" name="button">Delete</button>
                </form>
              </div>
            </td>
        </tr>
          <hr>
        {% endfor %}
      </table>

      <h2>Add a Friend Feature</h2>
      <form action="/friends" method="POST">
        <label for="first_name">First Name:<input type="text" name="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name"></label>
        <label for="email">Email:<input type="text" name="email"></label>
        <input type="submit" value="AddFriend">
      </form>

    </body>
</html>
