header,main,footer{

}

header{
  background-color: #F4F4F4;
}

header > h2{
  margin-left: 15px;
  margin-right: 65%;
  font-family: cursive;
  font-size: 35px;
}

header > h2 , header > p{
  display: inline-block;
  /*width: 50%;*/
}

header > p{
  font-weight: bold;
  font-size: 30px;

}

introduction {
  /*background-color: #8041a3;*/
}

introduction > img {
  max-width: 30%;
  max-height: 20%;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-color: #969ca5;
  border-width: thick;
}

introduction > content > h3 {
  height: 45px;
  margin: 0; /*remove the gap between title and edit of content*/
  padding-left: 10px;
  padding-top:20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  background: linear-gradient(grey,white);
  /*display: inline-block;*/
}

introduction > content {
  width: 50%;
  height: 450px;
  margin: 15px;
  padding-bottom : 10px;
  display: inline-block;
  background-color: #cabad6;
}

introduction > content > p , a{
  width: 70%;
  padding-left: 10%;
  padding-bottom : 5px;
  font-size: 25px;
  color: black;
}


main{
  height:50%;
  display: flex;
  justify-content: space-around;
}

.application{
  /*height: 200px;*/
  width: 30%;
  vertical-align: top;
  border: 1px solid;
  /*display: inline-block;*/
}


.application > h3{
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  background: linear-gradient(grey,white);
  /*background-color: #afbcd1;*/

}

.application > img{
  max-width: 100%;
  max-height: 100%;
  margin-top: 0;
}

.application > p{
  font-family: sans-serif;
  font-size: 18px;
  height: 155px;
  width: 70%;
  padding-left: 20%;
  padding-top: 5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}


.techicons {
  width: 60%;
  height: 100px;
  display: inline-block;
  margin-left: 20%;
  margin-bottom: 12%;
  padding: 10px;
  /*display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;*/

}

.techicons > img{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.techicons > button {
  width: 200px;
  margin-top: 10px;
  margin-left: 20%;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #407D61;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 5px #222;
  box-shadow: 4px 4px 5px #222;
}

#brief {
  display: block;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px grey;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .contact > img {
    width: 30px;
    height: 30px;
  }
  .contact > p {
    max-width: 70%;
    margin-left: 20px;
    margin-right: 20px;
  }
