header,main,footer{
 border: 1px dashed black;
}

header{
  background-color: #c6cad1;
}

header > h2{
  margin-left: 15px;
  margin-right: 65%;
}

header > h2 , header > p{
  display: inline-block;
  /*width: 50%;*/
}

header > p{
  font-weight: bold;
  font-size: large;
}

introduction {
  background-color: #8041a3;
}

introduction > img {
  max-width: 30%;
  max-height: 20%;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-color: #969ca5;
  border-width: thick;
}

introduction > content > h3 {
  height: 45px;
  margin: 0; /*remove the gap between title and edit of content*/
  padding-left: 10px;
  padding-top:25px;
  color: white;
  font-weight: bold;
  background-color: #afbcd1;
  /*display: inline-block;*/
}

introduction > content {
  width: 62%;
  max-height: 50;
  margin: 15px;
  padding-bottom : 10px;
  display: inline-block;
  background-color: #cabad6;
}

introduction > content > p , a{
  padding-left: 10px;
  padding-bottom : 5px;
}

main{
  height:50%;

  display: inline-block;
}

.application{
  /*height: 200px;*/
  width: 30%;
  vertical-align: top;
  padding-left: 15px;
  display: inline-block;
}


.application > h3{
  height: 30px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  background-color: #afbcd1;
  border: 1px dashed black;
}

.application > img{
  max-width: 100%;
  max-height: 100%;
  border: 1px dashed black;
}

.application > p{
  /*height: 20px;*/
  margin-bottom: 10px;
}

aside,main{
/*use percentage to be responsive*/
  /*overflow: scroll; /*when window size too small create scroll*/

}  /*This did not work originally because
the initial width of main and aside were too wide
to fit into one block */

.techicons > img{
  width: 30px;
  height: 30px;
}


footer{
  margin-top: 10px;
}
