body > input {
margin-bottom: 10px;
}

#wrapper {
    margin: 20px;
}
#wrapper > form {
    text-align:center;
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-right:15px;
    margin-bottom:15px;
    padding-bottom:10px;
    border: 2px solid black;
}

body > textarea {
  width: 600px;
  height: 600px;
}